<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Thế Giới Di Động</title>
    <link href="~/Content/Index.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.cdnfonts.com/css/intelone-display" rel="stylesheet">

</head>
<body>
    
    <div class="container">
        <div class="ProductAds">
            <div class="top">
                <img src="~/Content/Image/CES_Floating_Windows 1.png" />
                <div class="top-inform">
                    <img src="~/Content/Image/Fill 311.png" />
                    <p>Máy tính xách tay trang bị bộ xử lý Intel&reg; Core&trade; thế hệ thứ 12</p>
                    <p>Được thiết kế cho thế hệ chơi game mới.</p>
                    <img src="~/Content/Image/core-family-centered-i5i9i7-rgb-01 1.png" />
                </div>
            </div>
            <div class="middle-1">
                <p>Hiệu năng thay đổi cuộc chơi.</p>
                <p>Chơi game và đa nhiệm mà không bị ảnh hưởng nhờ kiến trúc lai hiệu năng mới của Intel.</p>
                <img src="~/Content/Image/H2_Panel_2_Angle_2 1.png" />
            </div>
            <div></div>
            <div></div>
        </div>
        <div class="Product"></div>
        <div class="News"></div>
    </div>

</body>
</html>

