<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Thế Giới Di Động</title>
    <link href="~/Content/Index.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.cdnfonts.com/css/intelone-display" rel="stylesheet">

</head>
<body>
    
    <div class="container">
        <div class="ProductAds">
            <div class="top">
                <img id="CES" src="~/Content/Image/CES_Floating_Windows 1.png" title="CES_Floating_Windows 1.png" />
                <img id="ces-blur" src="~/Content/Image/Rectangle 236.png" />
                <div class="top-inform">
                    <img id="logo" src="~/Content/Image/Fill 311.png" />
                    <p>Máy tính xách tay trang bị bộ xử lý Intel&reg; Core&trade; thế hệ thứ 12</p>
                    <h1>Được thiết kế cho thế hệ chơi game mới.</h1>
                    <img id="intel-core" src="~/Content/Image/core-family-centered-i5i9i7-rgb-01 1.png" />
                </div>
            </div>
            <div class="middle-1">
                <div class="middle-1-inform">
                    <h1>Hiệu năng thay đổi cuộc chơi.</h1>
                    <p>Chơi game và đa nhiệm mà không bị ảnh hưởng nhờ kiến trúc lai hiệu năng mới của Intel.</p>
                </div>
                <img id="ads" src="~/Content/Image/H2_Panel_2_Angle_2 1.png" />
            </div>
            <div class="middle-2">
                <div class="top-text">
                    <h1>Phân chia và chinh phục</h1>
                    <p>Kiến trúc lai hiệu năng mới của Intel kết hợp hai dòng lõi chủ đạo vào một CPU duy nhất, giúp mọi hoạt động trong vũ trụ game của bạn diễn ra mượt mà.¹</p>
                </div>
                <div class="box-text">
                    <img id="gr-1" src="~/Content/Image/Group 50 1.png" />
                    <img id="gr-2" src="~/Content/Image/Group 50 2.png" />
                    <h3>Intel&reg; Thread Director</h3>
                    <p>Tối ưu và quản lý các khối lượng công việc, gửi tác vụ đến lõi tốt nhất để xử lý.²</p>
                </div>
                <img id="panel-3" src="~/Content/Image/Panel 3 Screen Boxes 6P8E 1.png" />
                <div class="info-left">
                    <h4>Performance-core</h4>
                    <p>P-core được thiết kế để đạt hiệu năng nhằm đáp ứng các khối lượng công việc đơn lẻ và phân luồng nhẹ, cải thiện các hoạt động như chơi game và làm việc.</p>
                </div>
                <div class="info-right">
                    <h4>Efficoient-core</h4>
                    <p>E-core được tối ưu nhằm đạt hiệu năng đa luồng, giảm thiểu gián đoạn do các tác vụ phụ.</p>
                </div>
            </div>
            <div class="bottom">

                <img id="blue-back" src="~/Content/Image/Layer 574 1.png" />
                <div class="bot-tit">
                    <h1>Máy tính xách tay chơi game mạnh mẽ.</h1>
                    <p>Bộ xử lý Intel® Core™ thế hệ thứ 12 được thiết kế để mang đến trải nghiệm chơi game hiệu năng cao mà bạn chưa từng nghĩ sẽ có trên dòng máy tính xách tay.</p>
                </div>
                <div class="box-info-top">
                    <img id="triangle1" src="~/Content/Image/Triangle 1 copy 2 1.png" />
                    <img id="gr-3" src="~/Content/Image/Group 50 3.png" />
                    <img id="gr-4" src="~/Content/Image/Group 50 4.png" />
                    <h5>Sẵn sàng đón nhận những điều mới mẻ</h5>
                    <p>Hỗ trợ DDR5 cung cấp tốc độ và hiệu năng ở đẳng cấp mới.</p>
                </div>
                <img id="vector-pattern" src="~/Content/Image/Vector Smart Object copy 8.png" />
                <img id="H2-Panel4" src="~/Content/Image/H2_Panel_4_Desk 1.png" />

                <div class="box-info-left">
                    <img id="triangle2" src="~/Content/Image/Triangle 1 copy 2 1.png" />
                    <img id="gr-5" src="~/Content/Image/Group 50 5.png" />
                    <img id="gr-6" src="~/Content/Image/Group 50 6.png" />
                    <h5>Sử dụng ở mọi nơi</h5>
                    <p>Dễ dàng kết nối với các thiết bị ngoại vi và nhiều màn hình 4K có hỗ trợ công nghệ Thunderbolt&trade; 4.</p>
                </div>
                <div class="box-info-right">
                    <img id="triangle3" src="~/Content/Image/Triangle 1 copy 2 1.png" />
                    <img id="gr-7" src="~/Content/Image/Group 50 7.png" />
                    <img id="gr-8" src="~/Content/Image/Group 50 8.png" />
                    <h5>Công nghệ không dây không ngại đối thủ</h5>
                    <p>Hỗ trợ công nghệ Intel&reg; Killer&trade; Wi-Fi 6/6E để chơi game ít giật lag và độ trễ thấp hơn.³</p>
                </div>
            </div>
        </div>
        <div class="Product">
            <div class="tit-box">
                <img id="flare1" src="~/Content/Image/Group 50 2.png" />
                <img id="flare2" src="~/Content/Image/Group 50 2.png" />
                <h1>Laptop Intel Thế Hệ 12</h1>
            </div>
            <img id="back-vect-8" src="~/Content/Image/Vector Smart Object copy 8.png" />
            <img id="back-vector-9" src="~/Content/Image/Vector Smart Object copy 8.png" />
            <div class="list-product">
                <div class="info-product"></div>
            </div>
            <button>xem tất cả laptop INTEL THẾ HỆ 12</button>
        </div>
        @*<div class="News">
            <h1>Tin tức nổi bật</h1>
            <img src="~/Content/Image/Ảnh chụp Màn hình 2022-05-03 lúc 17.06 1.png" />
        </div>*@
    </div>

</body>
</html>

