/** {
    margin: 0;
    padding: 0;
    font-family: 'IntelOne Display', sans-serif;
    color: white;
}

body {
    background-color: #0C011C; 
    width: 1920px;
    min-height:500px;
    margin: 0 auto;
}

.ProductAds {
    margin: 0 auto;
    margin-top: 100px;
}

.top{
    height: 560px;
    width: 1900px;
    margin: 0 auto;
}

.Product {
    width: 1920px;
    height: 1344px;
}

div.background {
    background-image: url('/Content/Image/Vector Smart Object copy 8.png');
    background-color: white;
    height: 800px;
}
div.background-2 {
    background-image: url('/Content/Image/Vector Smart Object copy 8.png');
    background-color: white;
    height: 544px;
}

.info-product{
    float: left;
}

.butt{
    clear: both;
}

.News{
    height: 500px;
}*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'IntelOne Display', sans-serif;
}

body {
    width: 1920px;
    min-height: 500px;
    margin: 0 auto;
    background-color: #0C011C;
}

.container{
    min-height: 1000px;
    margin-top: 50px;
}

/*================================ProductAds================================*/
.ProductAds {
    width: 1920px;
    min-height: 500px;
    margin: 0 auto;
}

/*-----------------------top-----------------------*/

.top {
    position: absolute;
    width: 1920px;
    height: 549px;
    left: 0px;
    top: 73px;
}

.top img#CES {
    position: absolute;
    height: 458px;
    width: 826px;
    left: 315px;
    top: 47px;
}

.top img#ces-blur {
    position: absolute;
    left: 1000px;
    width: 220px;
    height: 458px;
}


.top-inform {
    width: 500px;
    height: 458px;
    position: absolute;
    left: 1055px;
}

.top-inform img#logo{
    position: absolute;
    top: 5px;
    left: 25px;
    width:32%;
}

.top-inform p {
    position: absolute;
    width: 371px;
    height: 50px;
    left: 25px;
    top: 70px;
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
    background: linear-gradient(91.92deg, #A2F996 8.6%, #76F9E3 103.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-inform h1 {
    position: absolute;
    width: 370px;
    left: 25px;
    top: 170px;
    font-weight: 700;
    font-size: 45px;
    line-height: 110%;
    color: #FFFFFF;
}

.top-inform img#intel-core{
    position: absolute;
    top: 370px;
    left: 25px;
}


/*-----------------------middle1-----------------------*/
.middle-1 {
    position: absolute;
    width: 1920px;
    height: 686px;
    left: 0px;
    top: 622px;
}

.middle-1-inform h1 {
    position: absolute;
    width: 432px;
    height: 122px;
    left: 480px;
    top: 236px;
    font-weight: 700;
    font-size: 55px;
    line-height: 110%;
    color: #FFFFFF;
}

.middle-1-inform p {
    position: absolute;
    width: 408px;
    height: 40px;
    left: 480px;
    top: 389px;
    font-size: 24px;
    line-height: 110%;
    color: #FFFFFF;
}

.middle-1 img#ads {
    position: absolute;
    left: 880px;
    top: 0px;
}



/*-----------------------middle2-----------------------*/
.middle-2 {
    position: absolute;
    width: 1920px;
    height: 1332px;
    left: 0px;
    top: 1308px;
}

.top-text h1 {
    position: absolute;
    width: 832px;
    height: 61px;
    left: 552px;
    top: 85px;
    font-weight: 700;
    font-size: 55px;
    line-height: 110%;
    text-align: center;
    color: #FFFFFF;
}

.top-text p {
    position: absolute;
    width: 950px;
    height: 40px;
    left: 502px;
    top: 177px;
    font-size: 24px;
    line-height: 110%;
    text-align: center;
    color: #FFFFFF;
}

.box-text img#gr-1 {
    position: absolute;
    width: 411px;
    height: 216px;
    left: 1098px;
    top: 288px;
}

.box-text img#gr-2 {
    position: absolute;
    width: 516px;
    height: 143px;
    left: 968px;
    top: 222px;
    mix-blend-mode: screen;
}

.box-text h3 {
    position: absolute;
    width: 275px;
    height: 30px;
    left: 1160px;
    top: 314px;
    color: white;
    font-size: 26px;
}

.box-text p {
    position: absolute;
    width: 285px;
    height: 70px;
    left: 1164px;
    top: 370px;
    font-size: 22px;
    line-height: 110%;
    color: #FFFFFF;
}

.middle-2 img#panel-3 {
    position: absolute;
    left: 370px;
    top: 320px;
}

.info-left h4 {
    position: absolute;
    width: 371px;
    height: 40px;
    left: 498px;
    top: 991px;
    font-size: 24px;
    line-height: 110%;
    background: linear-gradient(92.12deg, #A2F996 8.39%, #76F9E3 55.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info-left p {
    position: absolute;
    width: 320px;
    left: 498px;
    top: 1025px;
    font-family: IntelOne Display;
    font-size: 24px;
    line-height: 110%;
    color: #FFFFFF;
}

.info-right h4 {
    position: absolute;
    width: 371px;
    height: 40px;
    left: 1080px;
    top: 1131px;
    font-size: 24px;
    line-height: 110%;
    background: linear-gradient(92.12deg, #A2F996 8.39%, #76F9E3 55.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info-right p {
    position: absolute;
    width: 322px;
    height: 144px;
    left: 1080px;
    top: 1169px;
    font-family: IntelOne Display;
    font-size: 24px;
    line-height: 110%;
    color: #FFFFFF;
}

.blank-1 {
    position: absolute;
    width: 1920px;
    height: 1444px;
    left: 0px;
    top: 2640px;
}

/*-----------------------bottom-----------------------*/

.bottom {
    position: absolute;
    width: 1920px;
    height: 1270px;
    left: 0px;
    top: 2640px;
}

.bottom img#blue-back{
    position: absolute;
    width: 1920px;
    height: 1270px;
    left: 0px;
    top: 78px;
}

.bot-tit h1 {
    position: absolute;
    width: 1030px;
    height: 61px;
    left: 470px;
    top: 85px;
    font-size: 55px;
    line-height: 110%;
    text-align: center;
    color: #FFFFFF;
}

.bot-tit p {
    position: absolute;
    width: 931px;
    height: 40px;
    left: 502px;
    top: 177px;
    text-align: center;
    font-size: 24px;
    line-height: 110%;
    color: #fff;
}

.box-info-top img#triangle1 {
    position: absolute;
    left: 601px;
    top: 288px;
}

.box-info-top img#gr-3 {
    position: absolute;
    left: 627.95px;
    top: 283.26px;
}
.box-info-top img#gr-4 {
    position: absolute;
    left: 403px;
    top: 232px;
    mix-blend-mode: screen;
}

.box-info-top h5 {
    position: absolute;
    width: 570px;
    height: 102px;
    left: 650px;
    top: 320px;
    color: #fff;
    font-size: 30px;
    line-height: 110%;
}

.box-info-top p {
    position: absolute;
    width: 640px;
    height: 102px;
    left: 653px;
    top: 375px;
    font-size: 22px;
    line-height: 110%;
    color: #FFFFFF;
}

.bottom img#H2-Panel4 {
    position: absolute;
    left: 285px;
    top: 367px;
}

.bottom img#vector-pattern {
    position: absolute;
    width: 1200px;
    height: 1051px;
    left: 368px;
    top: 407px;
    mix-blend-mode: lighten;
}

.background-pattern {
    position: absolute;
    width: 1200px;
    height: 1051px;
    left: 368px;
    top: 407px;
    background: url(Vector Smart Object copy.png);
    mix-blend-mode: lighten;
}

.box-info-left img#triangle2 {
    position: absolute;
    left: 315px;
    top: 1125px;
}

.box-info-left img#gr-5 {
    position: absolute;
    left: 342px;
    top: 1110px;
}

.box-info-left img#gr-6 {
    position: absolute;
    left: 117px;
    top: 1027px;
    mix-blend-mode: screen;
}

.box-info-left h5{
    position: absolute;
    left: 370px;
    top: 1140px;
    font-size: 30px;
    line-height: 110%;
    color: #FFFFFF;
}
.box-info-left p {
    color: #fff;
    position: absolute;
    width: 512px;
    left: 371px;
    top: 1210px;
    font-style: normal;
    font-size: 22px;
    line-height: 12 0%;
}

.box-info-right img#triangle3 {
    position: absolute;
    left: 1056px;
    top: 1125px;
}

.box-info-right img#gr-7 {
    position: absolute;
    left: 1083px;
    top: 1110px;
}

.box-info-right img#gr-8 {
    position: absolute;
    left: 858px;
    top: 1027px;
    mix-blend-mode: screen;
}

.box-info-right h5 {
    position: absolute;
    width: 320px;
    left: 1111px;
    top: 1140px;
    font-size: 30px;
    line-height: 110%;
    color: #FFFFFF;
}

.box-info-right p {
    position: absolute;
    width: 493px;
    height: 102px;
    left: 1112px;
    top: 1220px;
    font-size: 22px;
    line-height: 120%;
    color: #FFFFFF;
}


/*================================Product================================*/
.Product {
    position: absolute;
    width: 1920px;
    height: 1350px;
    left: 0px;
    top: 4050px;
    background-color: #fff;
}



div.tit-box {
    position: absolute;
    width: 1150px;
    height: 150px;
    top: 80px;
    left: 350px;
    background-color: #1c3166;
    line-height: 150px;
    border-radius: 100px;
}

.tit-box h1 {
 
    font-size: 65px;
    text-align: center;
    background: linear-gradient(180deg, #C5FD4D 0%, #7AF1F9 123.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.tit-box img#flare1 {
    mix-blend-mode: screen;
    position: absolute;
    top: -45px;
    left: -174px;
    width: 850px;
    transform: revert;
}

.tit-box img#flare2 {
    mix-blend-mode: screen;
    position: absolute;
    top: 80px;
    left: 550px;
    width: 850px;
}
}



.Product img#back-vetc-8 {
    position: absolute;
    width: 1920px;
    height: 1344px;
    left: 23px;
    top: 0px;
}

img#back-vector-9 {
    position: absolute;
    transform: rotate(180deg);
    top: 0px;
    left: 0px;
}

.list-product {
    position: absolute;
    top: 260px;
    left: 310px;
    width: 1250px;
    height: 980px;
    padding: 14px;
}

.info-product {
    background-color: #fbfbfb;
    width: 230px;
    height: 470px;
    float: left;
    margin: 8px;
}

.info-product a.main-contain{
    text-decoration: none;
    color: #000;
    transition: .2s
}

.info-product a:hover.main-contain h3 {
    color: #294dff;
}


.item-label span {
    border-radius: 2px;
    font-size: 11px;
    line-height: 12px;
    display: inline-block;
    margin-right: 4px;
    padding: 3px;
}

.lb-tragop {
    background-color: #f1f1f1;
    color: #333;
}
.item-img {
    height: 160px;
}

.item-img img.productimg {
    width: 210px;
    margin: 10px;
}

/*.item-img img.techProduct {
   height: 40px;
}
*/


.result-label {
    border-radius: 20px;
    display: inline-block;
    font-size: 0;
    overflow: hidden;
    max-width: 100%;
    padding-right: 8px;
    background: linear-gradient(to right,#faab08,#d42611);
    margin-left: 10px;
}


.result-label span{
    color: #fff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 10px;
    line-height: 13px;
    margin-left: 3px;
    overflow: hidden;
    padding: 4px 0 0 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 2;
    text-transform: uppercase;
}

.main-contain h3 {
    font-size: 14px;
    line-height: 16px;
    margin: 10px;
    max-height: 36px;
    overflow: hidden;
    font-weight: 500;
}

.item-compare span {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #333;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin: 5px 10px;
    padding: 4px 5px;
}

.item-txt-online {
    color: #333;
    font-size: 13px;
    line-height: 16px;
    margin: 5px 10px;
}

.box-p {
    margin: 5px 10px;
}

.price-old {
    font-size: 13px;
    line-height: 17px;
    color: #333;
    text-decoration: line-through;
    display: inline;
}

.percent {
    color: #444;
    font-size: 13px;
    line-height: 17px;
}

.price {
    color: #222;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    margin: 5px 10px;
}

.item-gift {
    color: #333;
    font-size: 12px;
    margin: 0 10px;
}

.utility{
    margin: 5px 10px;
}

.utility p {
    color: #222;
    font-size: 12px;
    line-height: 22px;
    display: flex;
    column-count: 2;
    column-fill: balance;
}

.utility ul{
    margin: 8px 15px;
}

.utility ul li p span:first-child {
    display: inline-block;
    min-width: 50px;
    vertical-align: top;
    text-transform: uppercase;
}


button.view-product {
    position: absolute;
    width: 380px;
    height: 50px;
    left: 750px;
    top: 1270px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    text-transform: uppercase;
}


/*================================News================================*/
.News {
    position: absolute;
    width: 1920px;
    height: 600px;
    left: 0px;
    top: 5400px;
    background-color: #fff;
}

.News h1 {
    position: absolute;
    width: 318px;
    height: 50px;
    left: 782px;
    top: 30px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    color: #000;
}

.newdetail {
    position: absolute;
    width: 1200px;
    height: 450px;
    top: 112px;
    left: 328px;
}

.main-news{
    position: absolute;
    top: 0px;
    left: 0px;
}

.aside-news {
    position: absolute;
    width: 609px;
    height: 450px;
    left: 590px;

}
.info-news{
    width: 580px;
    float: left;
    margin-bottom: 16px;
}

.info-news img {
    width: 236px;
    float: left;
}

.info-news .news-text{
    float: right;
    width: 330px;
}

.news-text h3{
    margin-top: 10px
}

.news-text p {
    margin-top: 10px;
}

.news-text span {
    font-size: 12px;
    color: #464646;
}